<h1 class="title">Home Work 12</h1>
<section class="search">
    <div class="search-form">
        <span class="search-text">Please, enter name of the country</span>
        <label class="search-label">
            <input class="search-input" id="js-input" type="text" placeholder="Name of the country"
                autocomplete="off" />
        </label>
    </div>
    <div class="search-result"></div>
</section>