<h1>Home Work 12</h1>
<section class="search">
    <div class="search-form">
        <span class="search-text">Please, input name of the country</span>
        <label class="search-label">
            <input class="search-input" id="js-input" type="text" />
        </label>
    </div>   
    <div class="search-box"></div> 
</section>