<h2>Title</h2>
<ul>
    <li>Capital</li>
    <li>Population</li>
    <li>Language
        <ol>
            <li>German</li>
            <li>French</li>
            <li>Italian</li>
        </ol>
    </li>
</ul>
<div class="wrapper">
    <img src="" alt="">;
</div>