<div class="search-box">
    <span class="search-box__text">Please, input name of the country</span>
    <label class="search-box__label">
         <input class="search-box__input" type="text" />
    </label>
</div>